body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(36, 36, 36);
    color: white;
}

p{
    margin: 0px;
}



.logo-icon{
    width: 50px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation{
    display: flex;
    flex-direction: row;
    background-color: rgb(52, 52, 52);
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border-radius: 10px;
    width: 97%;
    margin-top: 5px;
}

.events{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 0.2s;
}


.events:hover{
    background-color: rgb(87, 87, 87);
    width: 90px;
    border-radius: 8px;
}

.events p{
    font-weight: bold;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 110px;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    background-color: rgb(52, 52, 52);
    border-radius: 10px;
}

.team-img{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.team{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.vr-line{
    width: 1px;
    height: 30px;
    background-color: white;
}

.team-img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
#clock {
    font-size: 16px;
    color: white;
     border-radius: 10px;
    display: inline-block;
}

/* Live Icon CSS */

.circle {
   transform: translateX(0%) translateY(0%);
    width: 20px;
    height: 20px;
  
    &:before {
      content: "";
      position: relative;
      display: block;
      width: 250%;
      height: 250%;
      box-sizing: border-box;
      margin-left: -75%;
      margin-top: -75%;
      border-radius: 45px;
      background-color: #ff0000;
      animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }
  
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: red;
      border-radius: 50px;
      animation: circle 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.33);
    }
    80%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes circle {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }

/* Slider CSS */

  .slider {
    width: 100%;
    height: 150px;
    overflow: hidden;
    
    position: relative;
    cursor: grab;
}

.slider:active {
    cursor: grabbing;
}

.slide {
    display: flex;
    width: 400%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.card {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: white;
    margin-left: 10px;
    user-select: none; /* Prevent text selection */
}

.sports-title p{
    margin-top: 40px;
    margin-left: 20px;
}

.sports-title-football p{
    margin-left: 20px;
    margin-top: 10px;
}



.mover:active {
    cursor: grabbing;
}

.move {
    display: flex;
    width: 400%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.card {
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d4d4d;
    color: white;
    
    user-select: none; /* Prevent text selection */
}

.mover {
    width: 100%;
    height: 150px;
    overflow: hidden;
    
    position: relative;
    cursor: grab;
}

.mover:active {
    cursor: grabbing;
}

.move {
    display: flex;
    width: 400%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

